#header
  background: background-image
  padding: 50px 0
  position: relative

#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative

#header-title
  clearfix()
  margin-top: 120px
  height: 130px
  text-align: center
  .title-wrap, .logo-wrap, .subtitle-wrap
    display: inline-block;
  .title
    font-family: font-title
    color: color-nav-foreground
    font-size: 60px
    transform: rotate(-20deg)
  .subtitle-wrap
    padding: 0
    margin-bottom: -5px
    margin-left: -165px
    vertical-align: bottom
  .subtitle
    font-size: 16px
    font-style: italic
    color: color-nav-foreground
    text-shadow: 0 1px rgba(0, 0, 0, 0.2)
